.createDisplay{
  font-family: "Helvetica";
  text-transform: capitalize;
  color: #407c66;
  margin-bottom: 5%;
  padding-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.left-flex{
  width: 40%;
  text-align: right;
  order: 1;
  color: #63a8e0;
}

.right-flex{
  width: 65%;
  text-align: left;
  order: 2;
  color:  #3B6356;
  color: #3B4E63;
}

.result-flex{
  display: flex;
  flex-direction: column;
  border: 1px dotted #3B4E63;
  font-size: .5em;
  padding-top: .5em;
  padding-bottom: 1em;
  width: 30%;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

.single-result-title{
  text-align: right;
  padding: .5em;
  width: 80%;

}
.single-result-info{
  text-align: left;
  padding: .5em;
}

.column{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content:center;
}

.row-del{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h4{
  display: inline;
}

.favorite, .delete, .globe{
  color: #0f2f49;
  border: 1px solid #0f2f49;
  text-transform: uppercase;
}

.delete{
  color: #ff8282;
  font-weight: bold;
  border: 1px solid transparent;
  background: transparent;
}

.globe{
  margin-top: 4%;
  margin-bottom: 2%;
  width: 50%
}
.favorite:hover, .globe:hover{
  background: #efebee;
  color: #643c59;
  border: 1px solid #643c59;
  cursor: pointer;
}

.delete:hover{
  color: red;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
}
