.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer-about{
  display: flex;
  border: 3px solid purple;
  justify-content: center;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  border: 3px solid red;
  width: 80%;
}

.inner-about{
  padding-bottom: 3%;
  border: 3px solid blue;
  display: flex;
  flex-direction: row;
}

.gitFlex{
  display: flex;
  flex-direction: row;
}
.name, .description{
  border: 2px solid #490f2f;
  padding: 1em;
  font-size: .8em;
  border-radius: 5px;
  width: 30%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.description{
  border: 2px solid yellow;
  width: 70%;
}

h4{
  color: #490f2f;
  text-transform: uppercase;
  font-family: noteworthy;
}

h6{
  color: #2F56AB;
  border-bottom: 1px solid #63a8e0;
  font-size: 1em;
}
