.back{
  background: linear-gradient(to left, #56ab2f , #a8e063);
  background: linear-gradient(to left, #AB2F56, #e063a8);
  background: linear-gradient(to left, #2F56AB, #63a8e0);
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5{
  border-bottom: 2px solid #490f2f;
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 2%;
  color: #490f2f;
  font-size: 2em;
  margin-bottom: 3%;
}

.pTag{
  display: inline-block;
}
